/* skip-nav */
.skip-nav a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  padding: 0;
  text-align: center;
  z-index: 1000;
}

.skip-nav a:focus{
  height: auto;
  padding: 10px 0;
  outline: 0;
}

/* 레이아웃 */
body{
  padding-top: 145px;
}

.header, 
.cafew-season,
.cafew-youtube,
.cafew-reserve,
.cafew-store,
.cafew-recommend,
.cafew-course,
.section-container{
  width: 1440px;
  margin: 0 auto;
}

.header-container{
  position: relative;
  background: #282725;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.header-container::before{
  content: "";
  position: absolute;
  top: 82px;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.header{
  color: #FFFCF9;
  padding-top: 18px;
}

.header a{
  color: inherit; /* reset */
}

/* 헤더 로고 */
.header__headline a{
  display: block;
  width: 100%;
  height: 40px;
}

.header__headline img{
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}

/* 헤더 - 탑메뉴 */
.header__top-menu{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.header__list{
  order: -1;
  line-height: 3;
}

.header__list li{
  display: inline-block;
  margin-right: 30px;
}

.header__list a:hover{
  text-decoration: underline;
}

/* 헤더 - 검색폼 */
.header__search fieldset{
  width: 242px;
  justify-content: center;
}

.search__form{
  padding: 0 10px;
  border-bottom: 1px solid #FFFCF9;
  background: transparent;
  /* background: pink; */
  margin-right: 8px;
  color: #FFFCF9;
}

.search__btn{
  display: inline-block;
  width: 24px;
  height: 24px;
}

.search__btn svg{
  width: 100%;
  height: 100%;
}

/* 헤더 - 네비게이션 */
.nav__list {
  width: 284px;
  margin-left: 10px;
}

.nav__headline{
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
}

.nav__headline a{
  display: block;
  width: 100%;
  padding: 10px 0;
}

.nav__items{
  display: none;
  margin-bottom: 30px;
}
.nav__menu:hover .nav__items{
  display: block;
}

.nav__list:focus .nav__items{
  display: block;
}

.nav__list:hover .nav__headline,
.nav__list:focus .nav__headline{
  color: #E27762;
  text-decoration: underline;
}

.nav__items li:hover,
.nav__items li:focus{
  text-decoration: underline;
}

.nav__items li{
  margin-bottom: 15px;
  font-weight: 400;
}

/* 공통푸터 */
.footer-container{
  position: relative;
  width: 100%;
  background: #282725;
  border: 1px solid rgba(255, 252, 249, 0.2);
}
.footer {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  color: rgba(255, 252, 249, 0.6);
}
.footer-container::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(255, 252, 249, 0.2);
  position: absolute;
  top: 82px;
  left: 0;
}
/* 푸터 로고 */
.footer__brand-logo {
  position: absolute;
  /* background: url(./images/CafeW-Vertical.svg) no-repeat 0 0; */
  width: 77px;
  height: 90px;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
}

.footer__brand-logo svg{
  width: 100px;
  height: 100%;
}

/* 푸터 인포 */
.footer__site-info {
  padding: 30px 180px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.footer__site-info li {
  font-size: 1.6rem;
  font-weight: 700;
}
.footer__site-info a:hover {
  color: #FFFCF9;
  opacity: 1;
}

/* 푸터 주소 */
.footer__address {
  font-style: normal;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 170px;
  line-height: 1.5;
}
/* 카피라이터 */
.footer__copyright {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
  margin-top: 30px;
  padding-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
}
/* 상단 이동 */
.gototop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #E27762;
  border-radius: 50%;
}
.gototop::before {
  content: "";
  background: url(../images/Up_Arrow.svg) no-repeat center center;
  width: 40px;
  height: 40px;
}
/* 상단 이동 */
.gototop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #E27762;
  border-radius: 50%;
}
.gototop::before {
  content: "";
  background: url(../images/Up_Arrow_button.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 공지사항 */
.main__notice-ticker{
  position: fixed;
  bottom: 50px;
  left: 35%;
  width: 600px;
  height: 60px;
  border-radius: 100px;
  z-index: 100;
  background: url(../images/Sound.png) no-repeat rgba(226,119,98,0.9);
  background-position: 15px center;
  color: #FFFCF9;
  translate: all 0.3s;
}

.nts-ticker__wrapper{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 45px;
  height: 40px;
}

.nts-ticker__wrapper dl{
  width: 500px;
  padding: 10px;
}

.nts-ticker__wrapper dt{
  display: inline-block;
  margin-right: 200px;
}

.nts-ticker__wrapper dt a{
  display: block;
  padding: 8px;
}

.nts-ticker__wrapper dd{
  font-size: 1.4rem;
  display: inline-block;
}

.nts-ticker__btn{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: transparent;
  width: 21px;
  height: 21px;
  z-index: 100;
}

.nts-ticker__btn span{
  display: inline-block;
  background: url(../images/close.png) no-repeat;
  width: 100%;
  height: 100%;
}

.main__notice-ticker.is--close {
  display: none;
}


