@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
/* jwkim 코드 ================== */
/* reset 코드 */
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;
}
a{
  color: inherit;
  text-decoration: none;
}

button{
  border: 0;
  padding: 0;
}

input{
  padding: 0;
  border: 0;
}

/* 조립 코드 */
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}


.flex-default{
    display: flex;
    flex-flow: row nowrap;
}


/* hjpark 코드 ===============================*/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
/*  겹치는 코드
a {
    color: inherit;
    text-decoration: none;
}
*/
.reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/* gabae 코드 ======================================*/


/* reset 코드 */
/* 스타일 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* 기본 폰트 */
html {
    font-size: 10px;
    line-height: 1.15;
}
/*
body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;  
}
  */