/* 포커스 시 아웃라인 커스텀 디자인 */
:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgba(125, 111, 93, 1);
}

/* section_02 */
.list__detail[aria-labelledby="list__detail-01"]{
  display: none;
}

.cafew-recommend-container{
  width: 100%;
  background: #FFFCF9;
}

.cafew-recommend{
  position: relative;
  height: 624px;
}

.multi__headline, .euid__headline{
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4em;
}

.multi__headline{
  width: 832px;
}

.euid__headline{
  width: 608px;
  position: absolute;
  left: 830px;
  top: 0;
  background: #000;
}

.multi__headline a, .euid__headline a{
  display: block;
  width: 100%;
  height: 64px;
}

.multi__headline a{
  background: url(../images/ChevronUp.png) no-repeat 780px 50%;
}

.euid__headline a{
  background: url(../images/ChevronDown.png) no-repeat 470px 50%;
}

.multi__headline span{
  margin-left: 600px;
}

.euid__headline span{
  margin-left: 200px;
}

.multi__headline em, .euid__headline em{
  font-weight: 700;
  font-style: normal ;
}

.multi__list, .euid__list{
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
}

.multi__list li, .euid__list li{
  display: inline-block;
  width: 590px;
  height: 424px;
  background: #282725;
  position: relative;
}

.list__class{
  color: #FFFCF9;
  background: #282725;
}

.bg-01::before, .bg-02::before{
  content: "";
  display: block;
  height: 212px;
  margin-bottom: 30px;
}

.bg-01::before{
  background: url(../images/git_bg.png) no-repeat;
}

.bg-02::before{
  background: url(../images/edui_bg.png) no-repeat;
}

.list__item-01, .list__item-02{
  text-align: center;
}

.list__item-01 span, .list__item-02 span{
  display: block;
}

.list__item-01 span:last-child, .list__item-02 span:last-child{
  margin-top: 10px;
}

.list__item-01 [lang="en"], .list__item-02 [lang="en"]{
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.1em;
}

.list__detail{
  /* display: none; */
  padding: 35px;
  background: #282725;
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFCF9;
}

.detail__heading span{
  display: block;
  font-weight: 400;
  font-size: 2.1rem;
}

.detail__heading span:last-child{
  margin-top: 7px;
}

.detail__heading span[lang="en"]{
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1;
}

.detail__rate{
  align-items: center;
  margin-top: 15px;
}

.detail__rate img{
  margin-right: 10px;
}

.detail__info-table{
  font-size: 1.3rem;
  border-top: 2px solid #C4C4C4;
  border-bottom: 2px solid #C4C4C4;
  margin-top: 30px;
}

.detail__info-table tr:last-child{
  border-bottom: 0;
}

.detail__info-table tr{
  border-bottom: 1px solid #FFFCF9;
  display: flex;
}

.detail__info-table th,td{
  padding: 15px 0;
}

.detail__info-table th{
  width: 77px;
}

.detail__info-table td{
  width: 180px;
}

.detail__info-table tr:last-child td {
  width: 424px;
}

.detail__info-table tr:last-child span{
  display: block;
}

.detail__close{
  position: absolute;
  top: 37px;
  right: 36px;
  width: 21px;
  height: 21px;
  background: transparent;
}

.detail__close span{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/close.png) no-repeat;
}

.class__btn-detail{
  color: #FFFCF9;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}

.class__btn-detail:hover{
  background: #FFFCF9;
  color: #282725;
}


.multi__btn-prev, .multi__btn-next{
  position: absolute;
  background: transparent;
  width: 40px;
  height: 40px;
  top: 240px;
}

.multi__btn-prev span, .multi__btn-next span{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.multi__btn-prev span{
  background: url(../images/Prev-button-d.svg) no-repeat;
}

.multi__btn-next span{
  background: url(../images/Next-button-d.svg) no-repeat;
}

.multi__btn-prev{
  left: 53px;
}

.multi__btn-next{
  right: 53px;
}

.multi__pagination-container{
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 657px;
  width: 160px;
}

.btn-play{
  width: 13px;
  height: 20px;
}

.btn-play span{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/pause-d.svg) no-repeat;
}

.pagination{
  width: 130px;
  justify-content: space-around;
}

.pagination li{
  width: 38px;
  height: 14px;
}

.pageno{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/indicator-d.svg) no-repeat right;
}

.pageno.on{
  background: url(../images/indicator-active-d.svg) no-repeat center;
}

.recommend__euid{
  position: absolute;
  top: 0;
  left: 0;
  background: #282725;
  color: #FFFCF9;
}

.euid-list-container{
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
}