/* 포커스 시 아웃라인 커스텀 디자인 */
:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgba(125, 111, 93, 1);
}

.pick-favorite-container {
  width: 100%;
  background: url('../images/favorite_section_bg.png');
}
.pick-favorite-container .section-container {
  height: 852px;
  background-image: url('../images/Photo_03.png'),url('../images/Photo_02.png')
  , url('../images/Photo_01.png');
  background-size: 460px 489px, 368px 433px, 370px 436px, cover;
  background-repeat: no-repeat;
  background-position: 938px 291px, 805px 151px, 591px 191px, 0 0;
  color: #fffcf9;
  /* text-align: right; */
  position: relative;
}
.pick-favoriteheadline {
  /* width: 404px; */
  /* height: 306px; */
  position: absolute;
  top: 110px;
  left: 120px;
}
.pick-favoriteheadline .headline-01,
.pick-favoriteheadline .headline-02,
.pick-favoriteheadline .headline-03 {
  /* text-align: right; */
  direction : rtl;
  display: block; 
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.pick-favoriteheadline .headline-01{
  letter-spacing: 0.9rem;
  font-size: 155px;
  line-height: 124px;
}
.pick-favoriteheadline .headline-02 {
  letter-spacing: 0.005rem;
  font-size: 133px;
  line-height: 106px;

}
.pick-favoriteheadline .headline-03 {
  font-size: 7.4rem;
  line-height: 59px;
}
.pick-favoritetext {
  /* width: 100%; */
  height: 200px;
  /* text-align: right; */
  font-style: normal;
  direction: rtl;
  margin-top: 44px;
  position: absolute;
  top: 460px;
  left: 90px;
}
.pick-favoritetext .bold {
  display: block;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: 0em;
}

.pick-favoritetext .last{
  margin-bottom: 20px;
}

.pick-favoritetext span{
  display: block; 
  font-size: 1.4rem;
  line-height: 25px;
}
/* 더보기 버튼 */
.pick-favorite__more{
  bottom: 80px;
  left: 330px;
}

.pick-favorite-container .pick-favorite__more:hover {
  background-color: #fffcf9;
  color: #282729;
  border: 1px solid #fffcf9;
}