/* 포커스 시 아웃라인 커스텀 디자인 */
:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgba(125, 111, 93, 1);
}

/* section_05 */
.cafew-reserve-container{
  width: 100%;
  background: url(../images/bg-woman.jpg) no-repeat 50% 35%;
  background-size: cover;
  height: 458px;
  color: #A37356;
}

.cafew-reserve{
  position: relative;
}

.cafew-reserve svg{
  position: absolute;
  top: 124px;
  left: 120px;
  width: 75px;
  height: 95px;
}

.cafew-reserve .reserve-slogan{
  position: absolute;
  top: 90px;
  left: 224px;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.reserve-slogan span, 
.reserve-slogan em{
  display: block;
}

.reserve-slogan em{
  font-size: 2.5rem;
  font-style: normal;
  margin-bottom: 20px;
}

.reserve-slogan .slogan__name{
  font-size: 1.8rem;
  font-weight: 700;
}

.slogan__ko{
  letter-spacing: 0;
}

.reserve-details{
  color: currentColor;
  top:217px;
  left:224px;
  margin-top: 20px;
}

.reserve-details:hover{
  background: #A37356;
  color: #FFFCF9;
  border: 1px solid #A37356;
}