/* 포커스 시 아웃라인 커스텀 디자인 */
:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgba(125, 111, 93, 1);
}

/* section_09 */
.cafew-store-container{
  width: 100%;
  background: #000 radial-gradient(65.6% 264.49% at 59.55% 37.62%, rgba(40, 39, 37, 0.95) 0%, #282725 73.46%, #171615 100%);
}

.cafew-store{
  position: relative;
  height: 420px;
  color: #FFFCF9;
}

.store__txt-container{
  position: absolute;
  top: 80px;
  right: 267px;
}

.cafew-store .store__slogan em{
  font-style: normal;
  display: block;
}

.store__slogan{
  margin-bottom: 15px;
}

.store__slogan .slogan__txt-01{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.6em;
}

.store__slogan .slogan__txt-02{
  display: block;
  font-weight: 400;
  font-size: 1.8rem;
}
.store__list{
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 35px;
}

.store__list b{
  font-weight: bold;
}

.store-details{
  color: currentColor;
  padding: 7px 20px;
}

.store-details:hover{
  background: #FFFCF9;
  color: #282725;
}

.cafew-store::before,
.cafew-store::after{
  content: "";
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.6));
}

.cafew-store::before{
  width: 360px;
  height: 360px;
  background: url(../images/muffin.png) no-repeat 50% 50%;
  background-size: cover;
  left: 174px;
  top: -50px;
}
.cafew-store::after{
  width: 220px;
  height: 220px;
  background: url(../images/cup_woman.png) no-repeat 50% 50%;
  left: 440px;
  top: 140px;
}

.store__list::after{
  content: "";
  display: inline-block;
  width: 152px;
  height: 127px;
  position: absolute;
  top: 213px;
  right: 90px;
  background: url(../images/Coffee_Store.png) no-repeat;
}