@import url('./variables.css');

.body {
    margin: 0;
    padding: 0;
}
.member {
    text-align:center;
    display: block;
    flex-flow: row wrap;
    background-color: var(--theme-light2);
    color : var(--theme-main);
    border: 1px solid var(--theme-light);
}
.member__headline {
    text-transform: uppercase;
    margin-bottom: 0;
}
.member__intro {
    text-transform: uppercase;
    border-bottom: 2px solid var(--theme-light);
    font-size: .8em;
    margin-top: 0;
    padding-bottom: 35px;
}
.member-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.member-form legend {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.member-form label {
    display: block;
    width: 100%;
    text-align:left;
}
.member-form label::after{
    background: no-repeat url('../css/images/sign-up-sprite.png') 0 0/ 50% 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
}

.member-form input {
    width: 95%;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--theme-light);
}
.member-form__id {
    margin-top: 100px;
}
/*
.member-form__id label,
.member-form__pw label,
.member-form__pw-check label,
.member-form__name label,
.member-form__phone label,
.member-form__nickname label {
    display: block;
}*/
.member-form__name,
.member-form__gender {
    width: 45%;
    display: inline-block;
}
.member-form span[role="alert"] {
    display: none;
}
/* 데스크탑 화면 */
@media all and (min-width:767px) {

    .member {
        width: 742px;
        margin: auto;
    }
    .member-form fieldset {
        border: none;
        margin: auto;
        width: 20vw;
    }
}