@import url('./style.css');
/* 전체 레이아웃 설정*/
.body {
    min-width: 760px;
    font-size: 16px;
}
.member {
    text-align:center;
    display: block;
    flex-flow: row wrap;
    background-color: var(--theme-light5);
    color : var(--theme-main);
    border: 1px solid var(--theme-light);
}
/* 헤드라인과 인트로 글귀 디자인*/
 .member__headline {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
    font-size: 2em;
}
.member__intro {
    text-transform: uppercase;
    border-bottom: 1px solid var(--theme-light);
    font-size: 1em;
    font-weight: 540;
    margin-top: 5px;
    padding-bottom: 30px;
}
/* 필드셋 안에 있는 요소들 레이아웃*/
.member-form fieldset {
    padding: 2vw;
}
/* 회원 가입 폼 clip처리*/
.member-form legend { 
}
/* input공통 영역 제어 코드 */
 .member-form label {
    background-color: yellow;
    display: block;
    width: 100%;
    text-align:left;
    font-weight: 1000;
    font-size: 1.3em;
    height: 25px;
    line-height: 25px;
}
/* 필수 입력요소 가상요소 선택자*/
.member-form label::after{
    background-color: blue;
    background: no-repeat url('../css/images/sign-up-sprite.png') 0 0/ 50% 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
} 
/* input에 대한 공통 속성 주기 */
.member-form input {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--theme-light);
    border-radius: 3px;
}
.member-form__id {
    margin-top: 100px;
} 
/*
.member-form__id label,
.member-form__pw label,
.member-form__pw-check label,
.member-form__name label,
.member-form__phone label,
.member-form__nickname label {
    display: block;
}*/
/* 이름, 성별 배치 */
.member-form__name, 
.member-form__gender {
    display: inline-block;
    
}
.member-form__name {
    width: 52%
}
.member-form__gender {
    float: right;
    width: 45%;
}
.member-form__gender legend {
    display: block;
}
.member-form__gender--title {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 1000;
    margin-top: 2px;
    margin-bottom: 10px;

}
.gender-options {
    display: flex;
}
.gender-options label {
    width: 20%;
    line-height: 30px;
    font-size: 1.3em;
}
.member-form__gender input{
    width: 10vw;
    padding: 0;
    border: 2px solid var(--theme-bright2);
}
.member-form__gender input:hover {
    background-color: var(--theme-main);
}
.member-form span[role="alert"] {
    display: none;
} 
/* 생년월일 레이아웃과 디자인*/
.member-form__birthday fieldset {
    display: flex;
    padding: 0;
    flex-flow : row nowrap;
    margin-bottom: 5px;
}
.member-form__birthday legend {
    font-size: 1.3em;
    text-align: left;
    font-weight: 1000;
    margin-bottom: 10px;
}
.member-form__birthday select {
    height: 30px;
    margin-right: 5px;
    border: solid 1px var(--theme-light);
    background-color: transparent;
    border-radius: 3px;
    font-size: 1.2em;
}
.member-form__birthday [name="user_year"]{
    width :25%
}
.member-form__birthday [name="user_month"]{
    width :15%
}
.member-form__birthday [name="user_date"]{
    width :15%
}
.form-birthday__addword::before {
    background: no-repeat url(./images/sign-up-sprite.png);
}
.form-birthday__addword {

    text-align: left;
}
/* 인증방식 레이아웃 디자인 */
.member-form__auth {
    height: 260px;
}
.member-form__auth-title {
    text-align: left;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.member-form__auth ul {
    border: 1px solid var(--theme-light);
    border-radius: 3px;
    height: 230px;
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
}
.member-form__auth li {
    text-align: center;
    width: 100%;
    height: 100%;

}

.member-form__auth li:first-child {
    border-right: 1px solid var(--theme-light);
}
.member-form__auth li:last-child {
}
.member-form__auth figure {
    width: 100%;
    height: 80%;
    padding: 10px 20px 0 20px;

}
.member-form__auth img{
    height: 45%;
}
.member-form__auth figcaption {
    margin-top: 10px;
}
.member-form__auth span {
    font-weight: 900;
    margin-bottom: 10px;
    display: block;
}
.member-form__auth a {
    background: var(--theme-main);
    color: var(--theme-light5);
    padding: 5px 25px;
    border-radius: 3px;
    font-weight: 500;
}
.member-form__auth a:hover {
    background:var(--theme-dark);
}
/* 닉네임 */
.member-form__nickname {
}
/*선택적 개인정보 수집동의 및 이용약관*/
.member-form__privacy-policy {
    width: 100%;
    position:relative;
}
.member-form__privacy-policy .policy-body {
    margin-top: 5px;
    border: 1px solid var(--theme-light3);
    height: 100px;
    overflow: auto;
    font-size: 1.2em;
    background-color: var(--theme-light3);
}
/* 스크롤바 꾸며주기 */
.member-form__privacy-policy .policy-body::-webkit-scrollbar {
    border-radius: 2px;
    width: 4px;
    background-color: var(--theme-brown);
}
.member-form__privacy-policy .policy-body::-webkit-scrollbar-thumb {
    background-color: var(--theme-main);
    border-radius: 2px;
}
.member-form__privacy-policy input {
    position: absolute;
    top: -2px;
    right: 10px;
    width: 20px;
    
}
/* 데스크탑 화면 */
/* @media all and (min-width:767px) {

    .member {
        width: 742px;
        margin: auto;
    }
    .member-form fieldset {
        border: none;
        margin: auto;
        width: 20vw;
    }
} */
@media all and (min-width: 767px) {
    .member {
        width: 742px;
        margin: auto;
    }
}