/* 색상 변수 */
:root {
    --theme-main: #7D6F5D;
    --theme-light: #CBC5BE;
    --theme-light2: #FFF1E1;
    --theme-light3: #FFFCF9;
    --theme-light4: #e5e5e5;
    --theme-light5: #ffff;
    --theme-dark: #282725;
    --theme-point: #E27762;
}